<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <span v-if="type">
        {{type}}|
    </span>
    <span v-else>
        hahah,识别不了
    </span>
    <span>{{content}}</span>


    <template v-if="type">
        {{type}}|
    </template>
    <!--template识别兄弟元素-->
</div>
<script src="../vue.js"></script>
<script>
var app = new Vue({
    el:'#app',
    data:{
        type:'热点',
        content:'广告：碎片时间学英语'
    }
})
</script>
</body>
</html>