<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="inputValue">
        <button v-on:click="addItem">添加</button>
    <todo-item v-bind:content="item" v-for="item in list"></todo-item>
</div>
<script>
    var Myconponent = Vue.extend({
        props:['content'],
        template:"<li>{{content}}</li>"
    })

    Vue.component('todo-item',Myconponent)

    var app = new Vue({
        el:'#app',
        data:{
            list:[],
            inputValue:''
        },
        methods:{
            addItem:function () {
                this.list.push(this.inputValue)
                this.inputValue = ''
            }
        }
    })
</script>
</body>
</html>