<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>局部组件 TodoList</title>
    <script src="../../vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="inputValue">
    <button v-on:click="addItem">添加</button>
    <!--v-bind简写：:  v-on:  @-->
    <todo-item :content="item" :index="index" @delete="HandleItemDelete" v-for="(item,index) in list"></todo-item>
</div>
<script>
    var Myconponent = {
        props:['content','index'],
        template:"<li @click='HandleItemClick'>{{content}}</li>",
        methods:{
            HandleItemClick:function () {
                this.$emit('delete',this.index)
            }
        }
    }
    var app = new Vue({
        el:'#app',
        components:{
            'todo-item':Myconponent
        },
        data:{
            list:[],
            inputValue:''
        },
        methods:{
            addItem:function () {
                this.list.push(this.inputValue)
                this.inputValue = ''
            },
            HandleItemDelete:function (index) {
                console.log(index)
                this.list.splice(index,1)
            }
        }
    })
</script>
</body>
</html>